<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Jekyll v3.8.6">
      <title>Sneaker Shop</title>

      <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/jumbotron/">

      <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <!-- Favicons -->
  <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/2589/2589903.svg">
  <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#563d7c">


      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      <!-- Custom styles for this template -->
      <link href="https://getbootstrap.com/docs/4.4/examples/jumbotron/jumbotron.css" rel="stylesheet">
</head>

<body>
<%-include layout %>

<div class="container">
  <div class="row">


    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Dior/Images/Air-Jordan-1-Retro-High-Dior/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1607043976&w=1000" alt="..."
        width="300" height="200">
        <div class="caption">
          <h3>Jordan 1 Retro High X Dior (US)</h3>
          <p>380,000 Baht</p> 
          <p><a href="nike/dior" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          สั่งซื้อ</a> 
          <a href="#" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>รายละเอียด</a></p>
        </div>
      </div>
    </div>



    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Satin-Black-Toe-W/Images/Air-Jordan-1-Retro-High-Satin-Black-Toe-W/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1606319735&w=1000" alt="..."
        width="300" height="200">
        <div class="caption">
          <h3>Jordan 1 Retro High Satin Black Toe</h3>
          <p>15,000 Baht</p>
          <p><a href="nike/blacktoe" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          สั่งซื้อ</a> 
          <a href="#" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>รายละเอียด</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Dark-Mocha/Images/Air-Jordan-1-Retro-High-Dark-Mocha/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1606160687&w=1000" alt="..."
        width="300" height="200">
        <div class="caption">
          <h3>Jordan 1 Retro High Dark Mocha</h3>
          <p>19,000 Baht</p>
          <p><a href="nike/mocha" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          สั่งซื้อ</a> 
          <a href="#" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>รายละเอียด</a></p>
        </div>
      </div>
    </div>
 


<div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-UNC-Patent-W/Images/Air-Jordan-1-Retro-High-UNC-Patent-W/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1606316722&w=1000" alt="..."
        width="300" height="200">
        <div class="caption">
          <h3>Jordan 1 Retro High UNC Patent (W)</h3>
          <p>18,000 Baht</p>
          <p><a href="nike/unc" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          สั่งซื้อ</a> 
          <a href="#" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>รายละเอียด</a></p>
        </div>
      </div>
    </div>



<div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Black-Crimson-Tint/Images/Air-Jordan-1-Retro-High-Black-Crimson-Tint/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1606320817&w=1000" alt="..."
        width="300" height="200">
        <div class="caption">
          <h3>Jordan 1 Retro High Black Crimson Tint</h3>
          <p>9,000 Baht</p>
          <p><a href="nike/crimson" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          สั่งซื้อ</a> 
          <a href="#" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>รายละเอียด</a></p>
        </div>
      </div>
    </div>
 
<div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Phantom-Gym-Red/Images/Air-Jordan-1-Retro-High-Phantom-Gym-Red/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1606318911&w=1000" alt="..."
        width="300" height="200">
        <div class="caption">
          <h3>Jordan 1 Retro High Phantom Gym Red</h3>
          <p>11,000 Baht</p>
          <p><a href="nike/gymred" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          สั่งซื้อ</a> 
          <a href="#" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>รายละเอียด</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>



<footer class="container">
  <br><br><br>
  <p>&copy; Sneaker Shop 2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>
